@tailwind base;
@tailwind components;
@tailwind utilities;

main > * {
  margin: 0 auto;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header > * {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

section {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

section > * {
  padding-bottom: 1rem;
}

a {
  font-size: large;
  font-weight: bold;
  transition: scale 0.5s ease-in-out;
}

a:hover {
  scale: 115%;
}

div.plot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.plot-text {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

div.plot-image {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
  section {
    max-width: 95%;
  }

  p {
    text-align: justify;
  }
}
